

body {
  margin: 0;
  background:url(https://indecs.kuvat.fi/kuvat/2018/Haalarisauna%2018.1.2018/DSC_0124.JPG?img=img2048) center fixed;
  background-size:cover;
  background-repeat:none;
}

:global{
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.editor {
  margin-top: 50px;
}